THINGWORX_HOST = ""
APP_KEY = ""
HTTP_BASIC_AUTH = ""
HTTP_USERNAME = ""
HTTP_PASSWORD = ""

basestation = {
                "com_port": "COM3",
                "baud_rate": 921600,
                "nodes": [
                    {
                        "address": 56609,
                        "type": "temp",
                        "thingName": "lordThing",
                        "thingProperties": [
                            {
                                "name": "temp",
                                "channel": "ch1",
                                "type": "NUMBER"
                            }, {
                                "name": "internal_temp",
                                "channel": "ch7",
                                "type": "NUMBER"
                            }]
                    }, {
                        "address": 57861,
                        "type": "force",
                        "thingName": "forceThing",
                        "thingProperties": [
                            {
                                "name": "force",
                                "channel": None,
                                "type": "NUMBER"
                            }]
                    }]
                }
